{% extends "network/layout.html" %}

{% block body %}
   <h1>All Posts</h1>
   {% if user.is_authenticated %}
      <div class="new-post">
         <h2>New Post</h2>
         <form action="{% url 'new_post' %}" method="POST">
            {% csrf_token %}
            <textarea name="content" row="4" cols="100"></textarea>
            <br/>
            <input type="submit" value="Post" class="btn btn-primary">
         </form>
      </div>
   {% endif %}
   <div class="all-posts">
      {% for post in allPosts %}
         <div class="social-post">
            <p class="username"><em>Posted by... <strong>{{ post.user }}</strong></em></p>
            <h4 class="post-content">{{ post.content }}</h4>
            <p class="post-date">{{ post.date }}</p>
         </div>
      {% endfor %}
   </div>
{% endblock %}