.new-post {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-width: fit-content;
}

.posts-display {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin: 20px;
}

.social-post {
   border: 1px solid grey;
   margin-bottom: 10px;
   max-width: 700px;
   padding-left: 6px;
}

.username {
   margin: 4px 0 6px;
}

.post-content {
   font-size: 22px;
}

.post-date {
   margin-bottom: 6px;
   color: grey;
}